<div class="container-fluid">
  <div class="page-header">
    <h1>
      Project Manager
    </h1>
  </div>
  <nav class="navbar navbar-light">
    <a routerLink="/project" routerLinkActive="router-link-active" class="nav-item router-link"> Add Project</a>
    <a routerLink="/task"  routerLinkActive="router-link-active" class="router-link"> Add Task</a>
    <a routerLink="/user"  routerLinkActive="router-link-active" class="router-link"> Add User</a>
    <a routerLink="/view-task"  routerLinkActive="router-link-active" class="router-link"> View Task</a>
  </nav>
  <br/>
  <router-outlet></router-outlet>
</div>