<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="row">
    <div class="col-md-1 col-sm-1 ">
      <label>First Name:</label>
    </div>
    <div class="col-md-6 col-sm-6 ">
      <div class="form-group">
        <input [class.is-invalid]="firstName.invalid && firstName.touched" formControlName="firstName" type="text"
          class="form-control" name="firsName">
        <small [class.d-none]="firstName.valid || firstName.untouched" class="text-danger">First Name is
          required</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-sm-1 ">
      <label>Last Name:</label>
    </div>
    <div class="col-md-6 col-sm-6 ">
      <div class="form-group">
        <input [class.is-invalid]="lastName.invalid && lastName.touched" formControlName="lastName" type="text"
          class="form-control" name="lastName">
        <small [class.d-none]="lastName.valid || lastName.untouched" class="text-danger">Last Name is required</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-sm-1 ">
      <label>Employee Id:</label>
    </div>
    <div class="col-md-6 col-sm-6 ">
      <div class="form-group">
        <input [class.is-invalid]="employeeId.invalid && employeeId.touched" formControlName="employeeId" type="text"
          class="form-control" name="employeeId">
        <small [class.d-none]="employeeId.valid || employeeId.untouched" class="text-danger">Employee Id is
          required</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <button type="submit" class="btn btn-secondary float-right"><span> {{ updateFlag ? 'Update' : 'Add' }}</span></button>&nbsp;
    </div>
    <div class="col-md-6 col-sm-6">
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
  </div>
</form>
<hr color="blue">
<div class="row">
  <div class="col-md-6 col-sm-6 ">
    <div class="form-group">
      <input class="form-control form-control-sm" placeholder="Search..." [(ngModel)]="searchText">
    </div>
  </div>

  <div class="col-md-6 col-sm-6 ">
    Sort:&nbsp;&nbsp;<button type="button" class="btn btn-secondary"
      (click)="sort('firstName')">FirstName</button>&nbsp;
    <button type="button" class="btn btn-secondary" (click)="sort('lastName')">LastName</button>&nbsp;
    <button type="button" class="btn btn-secondary" (click)="sort('employeeId')">Id</button>
  </div>
</div>
<br>
<hr class="dashed">
<br>
<div class="form-group">
  <div *ngFor="let user of users | userFilter: searchText | sort: sortField ">
    <div class="row">
      <div class="col-md-6 col-sm-6 ">
        <input value="{{user.firstName}}" type="text" class="form-control" disabled />
      </div>
      <div class="col-md-6 col-sm-6 ">
        <button type="button" class="btn btn-secondary" (click)="update(user)">Edit</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 ">
        <input value="{{user.lastName}}" type="text" class="form-control" disabled />
      </div>
      <div class="col-md-6 col-sm-6 ">
        <button type="button" class="btn btn-secondary" (click)="delete(user)">Delete</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 ">
        <input value="{{user.employeeId}}" type="text" class="form-control" disabled />
      </div>
      <div class="col-md-6 col-sm-6 ">
      </div>
    </div>
    <br>
    <hr class="dashed">
    <br>
  </div>
</div>
<br>
